body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #000;
}

header {
    padding-top: 20px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
}

header nav ul {
    list-style: none;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    padding-right: 30px;
    padding-left: 30px;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #888;
    font-weight: bold;
    text-decoration: none;
    font-size: 24px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

header nav ul li a:hover {
    color: rgba(0, 0, 0, 1);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.SmartFit {
    color: #444;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);

}

.SmartFit:hover {
    color: rgba(255, 255, 255, 0.5);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* ----------header.css---------- */

.hero,
image {
    position: relative;
    height: 100vh;
    background-image: url('../images/main.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.webcam-container {
    position: relative;
    z-index: 2;
    padding: 30px;
    background-color: rgba(2555, 255, 255, 0);
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: white;
    width: 75%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    /* margin-bottom: 24px; */
    font-size: 1.8em;
    color: #444;
}

.webcam {
    background-color: #000;
    width: 90%;
    height: 85%;
}

button,
.btn {
    width: 200px;
    padding: 12px;
    margin-top: 12px;
    background-color: #444;
    border: none;
    border-radius: 50px;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover,
.btn:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: #444;
    border: none;
}

form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}