body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #000;
    font-weight: bold;
}

header {
    padding-top: 20px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
}

header nav ul {
    list-style: none;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    padding-right: 30px;
    padding-left: 30px;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #444;
    font-weight: bold;
    text-decoration: none;
    font-size: 24px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

header nav ul li a:hover {
    color: rgba(255, 255, 255, 0.5);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.SmartFit {
    color: #444;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);

}

.SmartFit:hover {
    color: rgba(255, 255, 255, 0.5);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* ----------header.css---------- */

.main-container {
    position: relative;
    height: 100vh;
    background-image: url('../images/mypage.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}

.sidebar {
    width: 300px;
    padding: 60px;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    padding-top: 160px;
}

.sidebar section {
    margin-bottom: 30px;
}

h2 {
    font-size: 24px;
    color: #76B582;
    margin-bottom: 15px;
}

.info-details {
    font-size: 18px;
    color: #444;
}

.btn {
    margin-top: 30px;
    display: inline-block;
    padding: 15px 30px;
    background-color: #444;
    color: white;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    transition: background-color 0.3s ease;
    text-align: left;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: #444;
}

.content {
    flex: 1;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow-y: none;
    padding-top: 90px;
}

.recent-workouts {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.workouts-list {
    max-height: 80vh;
    overflow-y: auto;
}

.workout {
    border-top: 2px solid #e0e0e0;
    padding-top: 15px;
    margin-top: 15px;
    color: #444;
}

.workout-daily {
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.workout:first-child {
    border-top: none;
    padding-top: 0;
    margin-top: 0;
}

.workout h3 {
    font-size: 20px;
    margin-bottom: 5px;
    color: #76B582;
}

.workout p {
    margin: 5px 0;
}

/* ---------------- */
.mypage__left__body__profile {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.mypage__left__body__profile__picture {
    width: 100px;
    height: 100px;
    overflow: hidden;
    background-color: #bbb;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-top: 40px;
}

.mypage__left__body__profile__picture:hover {
    background-color: #888;
}

.mypage__left__body__profile__picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mypage__left__body__profile__user p {
    font-size: 1.2em;
    color: #D2FFD2;
}